{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <tr><th>Name</th><th>Type</th><th>Units</th><th>Current Value</th></tr>
        {% for inv in investments %}
        <tr>
            <td>{{ inv.name }}</td>
            <td>{{ inv.type }}</td>
            <td>{{ inv.units }}</td>
            <td>${{ "%.2f"|format(inv.current_value or 0) }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}