{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Portfolio Valuation{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.submit() }}
    </form>

  <div id="chart"></div>
  <script src="https://cdn.plot.ly/plotly-3.5.1.min.js" charset="utf-8"></script>
  <script type="application/json" id="chart-data">
    {{ plot | safe }}
  </script>

  <script>
    var chartData = document.getElementById('chart-data').textContent;
    var fig = JSON.parse(chartData);
    Plotly.newPlot('chart', fig.data, fig.layout);
  </script>

  <h2>Last 10 Valuations</h2>
  <table>
    <tr><th>Date</th><th>Total Value</th><th>Total Cost</th><th>Gain</th></tr>
    {% for v in valuations %}
    <tr>
      <td>{{ v['date'] }}</td>
      <td>{{ v['total_value'] | money }}</td>
      <td>{{ v['total_cost'] | money }}</td>
      <td>{{ (v['total_value'] - v['total_cost']) | money }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}