{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Transaction{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.date.label }} {{ form.date() }}
        {{ form.description.label }} {{ form.description() }}
        {{ form.transaction_type.label }} {{ form.transaction_type() }}
        {{ form.asset.label }} {{ form.asset() }}
        {{ form.quantity.label }} {{ form.quantity() }}
        {{ form.currency.label }} {{ form.currency() }}
        {{ form.price.label }} {{ form.price() }}
        {{ form.total_amount.label }} {{ form.total_amount() }}
        {{ form.fee.label }} {{ form.fee() }}
        {{ form.tax_amount.label }} {{ form.tax_amount() }}
        {{ form.portfolio.label }} {{ form.portfolio() }}
        {{ form.submit() }}
    </form>
{% endblock %}